.kanban-board-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.kanban-board-wrap .category {
    min-height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 31.33%;
    margin-right: 1.50%;
    margin-bottom: 2%;
}

.kanban-board-wrap .category h2 {
    background: #000;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
.App {
    width: 1250px;
    margin: auto;
}
.kanban-board {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.taskCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskCard button {
    border: none;
    background: #d70b0bb5;
    color: #fff;
    display: block;
    width: 93px;
    height: 39px;
    cursor: pointer;
}
.add-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 0px;
    padding: 0 12px;
}

.add-card input, .taskCard input, .add-column input {
    border: 1px solid #006699;
    padding: 11px;
    color: #006699;
    border-radius: 10px;
    width: 56%;
}
.add-card button, .add-column button {
    background: #006699;
    border: none;
    color: #fff;
    height: 38px;
    width: 88px;
    border-radius: 10px;
    cursor: pointer;
}
.add-column {
    display: flex;
    height: fit-content;
    gap: 5px;
}
.taskCard button.updateBtn{
    background-color: #006699;
}
.taskCard{gap: 5px;}
.column div{border: unset !important;}
.kanban-board-wrap .category:last-child {
    margin-right: 0;
}